<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create a new playlist</h1>

<form action="/create" method="post">
    <label>Enter Artist name</label>
    <input type="text" name="artist">

    <label>Enter Album Titel</label>
    <input type="text" name="album_titel">

    <label>Enter Track</label>
    <input type="text" name="tracks">

    <label>Enter Track Duration</label>
    <input type="text" name="track_duration">

    <label> Enter Release year</label>
    <input type="text" name="release_year">

    <label>Enter Record label</label>
    <input type="text" name="record_label">

    <input type="submit" value="Create new playlist">
</form>
</body>
</html>